global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

rule_files:
  - /etc/prometheus/alert-rules.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'helixagent'
    static_configs:
      - targets: ['helixagent:7061']
    metrics_path: /metrics

  - job_name: 'helixagent-providers'
    static_configs:
      - targets: ['helixagent:7061']
    metrics_path: /metrics/providers
