name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: ./bun install
      - name: Run Biome
        run: ./bun run lint
      - name: Typecheck
        run: ./bun run typecheck
