apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: superagent-base

commonLabels:
  app.kubernetes.io/name: superagent
  app.kubernetes.io/managed-by: kustomize

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml
  - networkpolicy.yaml
